section#banner {
    background-image: url(../img/background.jpg);
    background-position-x: calc(100% - 500px);
    background-position-y:calc(100% - 300px);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

    .banner-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color:white;
        height: 100vh;

        h1 {
            font-family: 'Fjalla One', sans-serif;
            font-size:42pt;
            color:white;
            text-shadow:black 5px 5px 5px;
        }
        h1::after {
            content: '|';
            margin-left:5px;
            opacity: 1;
            animation: pisca 1s infinite;
        }

        @keyframes pisca {
            0% {
                opacity:1;
            }
            50% {
                opacity:0;
            }
            100% {
                opacity:1;
            }
        }

        p {
            font-family: 'Lato';
            text-shadow: black 5px 5px 5px;
            font-size:14pt;
        }
    }
}