#app {
    section#contato {
        background-image: url(../img/background.jpg);
        background-position-x: calc(100% - 500px);
        background-position-y:calc(100% - 300px);
        background-attachment: fixed;
        height: 100vh;
        width: 100%;
    }
}