#app {
    section#discografia {
        background-image:url('../../assets/img/background3.jpg');
        background-position-x: calc(100% - 400px);
        background-position-y:calc(100% - 350px);
        background-attachment: fixed;
        // padding-bottom: 500px;
        padding-top:150px;
        height:100vh;

        .discos {
            display:flex;
            justify-content:center;
            align-items:center;
            // padding-bottom:500px;

            .disco-item {
                padding:0 65px;
                color:white;
                
                h3 {
                    font-family: 'Fjalla One', sans-serif;
                    padding:5px 0;
                    text-shadow: 3px 3px 3px black;
                }
            }
        }

    }
}

@media (max-width:738px) {
    body {
        overflow-x:hidden;
    
        section#discografia {
            height:130vh!important;
            
            .discos {
                flex-direction: column;
                
                .disco-item {
                    padding:0 0px!important;
                }
            }
        }
    }
}