// @import './assets/mixins';
#app {

    header {
        nav {
            background:transparent;
            position:fixed;
            width:100%;
            z-index: 99;

            .container {
                display:flex;
                align-items: center;
                flex-direction: column;
                
                ul {
                    display:flex;
                    width:100%;
                    justify-content: center;
                    padding-top:40px;
                    

                    li {
                        font-family: 'Fjalla One', sans-serif;
                        list-style: none;
                        padding:10px;
                        font-size:13pt;
                        border-bottom: 1px solid white;
                        text-shadow:black 5px 5px 5px;
                        
                        a {
                            text-decoration:none;
                            color:white;
                            transition: all .5s ease;
                            
                            &:hover {
                                color:#E93279;
                                text-shadow: white 2px 2px 2px;
                                transition: all .5s ease;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}